:root{
    --color-primaray: #ff5722;
    --color-primary-light: #ff7a50; 
    --color-secondary-light: #fff6f2;
    --color-secondary-dark: #ffa589;
    --color-navbar-: #f8f8f8;
    --color-headings: #000;
    --color-body: #333333; 
    --color-white: #fff; 
}

body{
    color: var(--color-body); 
    font-size: 1.4rem;
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: var(--color-headings); 
}

.btn{
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}

.btn--primary{
    background-color: var(--color-primaray);
    color: var(--color-white); 
}


.btn--secondary {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);   
}


.btn-block{
    width: 100%;
}


.badge{
   display: inline-block;
   padding: 0.5rem 1rem;
   background-color: #fff;
   border-radius: 32px;
   border: 2px solid var(--color-primaray);
   color: var(--color-primaray);
   text-transform: uppercase;
   
}

.badge--primary{
    background-color: var(--color-primaray);
    color: var(--color-white);
}


.list{
    list-style: none;
    font-size: 1.6rem; 
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 3rem;
}

/* .list--tick .list-item ::before{
    content: "";
    width: 20px;
    height: 20px;
    background: url(/assets/images/arrow.png);
    padding-left: 3rem;
}  */

.list--tick .list__item{
    background: url(/assets/images/arrow.png) no-repeat left center; 
    background-position: center left;
    padding-left: rem;
}

.list--tick .list__item{
    background-color: #ff5722;
    margin-bottom: 20px;
} 

.block-plan{
    display: grid;
    gap: 10rem 4rem;
    justify-content: center; 
    grid-template-columns:repeat(auto-fit,minmax(250px,350px));
    margin-top: 5rem;
}

.plan{
    max-width: 450px;
    font-size: 1.8rem;
    transition: all 0.2s ease-out;
}

.card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #efefef;
}

.card__header, .card__body{
    padding: 3rem 2.5rem;
}

.card__header{
    /* background-color: var(--color-secondary-dark); */
    color: var(--color-white);
}

.card--secondary .card__header{
    background-color: var(--color-secondary-dark);
}

.card--primary .card__header{
    background-color: var(--color-primary-light);
}

.plan__introduction{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.plan__price{
    font-size: 1.5rem;
}

.plan_billing-cycle{
    font-size: 1rem;
}

.plan__description{
    display: block;
    margin-top: 1rem;
}

.plan .btn-block{
    font-size: 1.4rem;
    margin-top: 10rem;
}

.plan-popular{
    transform: scale(1.1);
}

.plan-popular:hover{
    transform: scale(1.15);
}


.plan:hover{
    transform: scale(1.05);
}


@media screen and (min-width: 1024px){
    .block-plan {
        grid-template-columns: repeat(3, 1fr);
    }
        .feature{
            grid-template-columns: repeat(2,1fr);
        } 
        .feature__image{
            order: 2;
            margin-bottom: 0;
        }  
        .feature__detail{
            order: 1;
        }

        ..feature__image >img {
            width: 100%; 
        }

    
    }


    .plan .btn-block{
        font-size: 1.8rem;
    }


.container{
    max-width: 1140px;
    margin: 0 auto;
}

.feature{
    display: grid;
}

.feature .btn{
    padding: 1.2rem 3rem;
}

.feature__text{
    margin-bottom: 1.5rem;
}

.feature__image >img {
    width: 70%; 
    height: auto;
}

.feature__image{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.contact-us{
    display: grid;
}

.contact-us__map{
    display: none;
}

@media screen and (min-width: 1024px) {
    .contact-us{
        grid-template-areas: 
        "from address"
        "from map"
        "from icons"
        ;
        grid-template-columns: 30fr 70fr;
    }
    .contact-us__form{
        grid-area: from;
    }
    .contact-us__map{
        grid-area: map;
        display: block;
    }
    .contact-us__address{
        grid-area: address;
    }
    .contact-us__icons{
        grid-area: icons;
    }

}

.icon{
    width: 40px;
    height: 40px;
}

.icon-container{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 100px;
    cursor: pointer;
}