.btn{
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}

.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white); 
}


.btn--secondary {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);   
}


.btn-block{
    width: 100%;
}